<div class="home-page">
    <div>
    <img src="../../assets/images/logopics/tagpic.jpg" alt="tagpicture" id="tagpic">
    <h3 id="centered" class="column">" We don't design clothes,
        <br>
         We design your dreams !!! "
        <br>
        <p id="cntnt">#Be unique with DressOwn.hub</p>
        <p id="cntnt">#Be trendy with DressOwn.hub</p>
        <p id="cntnt">#Be fashionable with DressOwn.hub</p>
    </h3>
    </div>

    <label for="tagline">Shop your Style with DressOwn.hub</label>
    <hr>
<div>
    <div class="trend-decor">
    <h4>Trending Now</h4>
    <div class="row">
        <div class="gallery column">
        <a routerLink="/design">
          <img src="../../assets/images/trendpics/trendpic1.jpg" alt="Cinque Terre">
        </a>
        <div class="desc">Simple Blue Printed Cotton Kurta with buttons<br>
        <h4>₹853 - 15% Off</h4></div>
      </div>

      <div class="gallery column">
        <a routerLink="/design">
          <img id="trendpic" src="../../assets/images/trendpics/trendpic2.jpg" alt="Forest">
        </a>
        <div class="desc">White Embroidered Kurta With Palazzo <br>
        <h4>₹450 - 5% Off</h4> </div>
      </div>
      
      <div class="gallery column">
        <a routerLink="/design">
          <img src="../../assets/images/trendpics/trendpic3.jpg" alt="Northern Lights">
        </a>
        <div class="desc">Pink Printed Lehenga With Simple Crop Top<br>
        <h4>₹1050 - 25% Off</h4></div>
      </div>
      
      <div class="gallery column">
        <a routerLink="/design">
          <img src="../../assets/images/trendpics/trendpic4.jpg" alt="Mountains">
        </a>
        <div class="desc">Multicolored Check Cotton Dress With  No Belt<br>
        <h4>₹850 - 15% Off</h4></div>
      </div>
    </div>
    </div>
    <hr>

    <div class="trend-decor">
        <h4>Deals Of The Day</h4>
        <div class="row">
            <div class="gallery column">
            <a routerLink="/design">
              <img src="../../assets/images/trendpics/trendpic5.jpg" alt="Cinque Terre">
            </a>
            <div class="desc">Pink & White Printed Tiered Flared Anarkali<br>
            <h4>₹500 - 20% Off</h4></div>
          </div>
    
          <div class="gallery column">
            <a routerLink="/design">
              <img id="trendpic" src="../../assets/images/trendpics/trendpic6.jpg" alt="Forest">
            </a>
            <div class="desc">Simple Plain Kurti With Golden Jacket<br>
            <h4>₹650 - 10% Off</h4></div>
          </div>
          
          <div class="gallery column">
            <a routerLink="/design">
              <img src="../../assets/images/trendpics/trendpic7.jpg" alt="Northern Lights">
            </a>
            <div class="desc">Umbrella Printed Kurti With Long Jacket<br>
            <h4>₹950 - 30% Off</h4> </div>
          </div>
          
          <div class="gallery column">
            <a routerLink="/design">
              <img src="../../assets/images/trendpics/trendpic8.jpg" alt="Mountains">
            </a>
            <div class="desc">Green Flared Anarkali with Long Sleeves<br>
            <h4>₹400 - 20% Off</h4></div>
          </div>
        </div>
        </div>
        <hr>

        <div class="trend-decor">
            <h4>Season's Favourites</h4>
            <div class="row">
                <div class="gallery column">
                <a routerLink="/design">
                  <img src="../../assets/images/trendpics/trendpic9.jpg" alt="Cinque Terre">
                </a>
                <div class="desc">Navy Blue 3/4th Sleeve Top For Jeans<br>
                <h4>₹300 - 5% Off</h4></div>
              </div>
        
              <div class="gallery column">
                <a routerLink="/design">
                  <img id="trendpic" src="../../assets/images/trendpics/trendpic10.jpg" alt="Forest">
                </a>
                <div class="desc">White Printed Top with Long Sleeves<br>
                <h4>₹450 - 35% Off</h4></div>
              </div>
              
              <div class="gallery column">
                <a routerLink="/design">
                  <img src="../../assets/images/trendpics/trendpic11.jpeg" alt="Northern Lights">
                </a>
                <div class="desc">Red Jeans Top with Layered Sleeves<br>
                <h4>₹250 - 20% Off</h4></div>
              </div>
              
              <div class="gallery column">
                <a routerLink="/design">
                  <img src="../../assets/images/trendpics/trendpic12.jpeg" alt="Mountains">
                </a>
                <div class="desc">Black Printed Color Regular Fit Midi Dress<br>
                <h4>₹400 - 10% Off</h4></div>
              </div>
            </div>
            </div>
            <hr>

            <div class="trend-decor">
                <h4>House of DressOwn.hub</h4>
                <div class="row">
                    <div class="gallery column">
                    <a routerLink="/design">
                      <img src="../../assets/images/trendpics/trendpic13.jpeg" alt="Cinque Terre">
                    </a>
                    <div class="desc">Black Kurti Top with White Printed Front<br>
                    <h4>₹550 - 5% Off</h4></div>
                  </div>
            
                  <div class="gallery column">
                    <a routerLink="/design">
                      <img id="trendpic" src="../../assets/images/trendpics/trendpic14.jpg" alt="Forest">
                    </a>
                    <div class="desc">Magenta Georgette Chikankari Embroidered Anarkali <br>
                    <h4>₹650 - 20% Off</h4></div>
                  </div>
                  
                  <div class="gallery column">
                    <a routerLink="/design">
                      <img src="../../assets/images/trendpics/trendpic15.jpg" alt="Northern Lights">
                    </a>
                    <div class="desc">Brick Red Color Regular Fit Midi Dress<br>
                    <h4>₹300 - 5% Off</h4></div>
                  </div>
                  
                  <div class="gallery column">
                    <a routerLink="/design">
                      <img src="../../assets/images/trendpics/trendpic16.jpg" alt="Mountains">
                    </a>
                    <div class="desc">Long Printed Yellow Kurta With Skirt<br>
                    <h4>₹550 - 20% Off</h4></div>
                  </div>
                </div>
                </div>
                <hr>
                <br>
            </div>

</div>