<div class="page">
    <label for="help" id="contents">How to select a design from DressOwn.hub collections</label>
    <div class="section">
        <div class="steps">
            <p>Step 1: Signin to your account as a Customer<br>
                Step 2: Click " Designs " to get the exclusive designs from DressOwn.hub<br>
                Step 3: Search for your favorite designs or dresses<br>
                Step 4: Select a design that you want to get stitched<br> 
                Step 5: Set measurements for the selected design<br>
                Step 6: Select designers and cost for stitching your outfit<br>
                Step 7: By clicking Set button, your design details will be submitted to our designers<br>
                Step 8: Our designers will send you a prototype of your design<br>
                Step 9: You can now make updations on your design<br>
                Step 10: We will inform you once your outfit is stitched<br>
                Step 11: Then, make your payment for stitching online<br>
                Step 12: Finally, we will send your favorite design to the given address<br>
            </p>
        </div>
    </div>
    <br>
    <br><br><br>
</div>