<div class="welcome-decor">
<div class="carousel-decor">

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad1.jpg" alt="ad1">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad2.jpg" alt="ad2">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad3.jpg" alt="ad3">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad4.jpg" alt="ad4">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad5.jpg" alt="ad5">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad6.jpg" alt="ad6">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad7.jpg" alt="ad7">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad8.jpg" alt="ad8">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad9.jpg" alt="ad9">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/images/adpics/ad10.jpg" alt="ad10">
    </ng-template> 
  </owl-carousel-o>
 
</div>
<div class="login-bg">
<a href="#">
<label for="login" id="login-line">LogIn to Explore More on DressOwn.hub !</label>
</a>
</div>
<br>
<div class="row">
  <h3 class="column" id="tag-left">Fashion as unique as you are !
    <br>
      <p id="cntnt">" Style is a way to say who you are
      <br> without having to speak "
      <br><br>
      #Be unique with DressOwn.hub
    </p>
  </h3>
  <img class="column" id="tagpic-right" src="../../assets/images/adpics/ft1.jpg" alt="ftpic1">
</div>
<hr>
<div class="row">
  <img class="column" id="tagpic-left" src="../../assets/images/adpics/ft2.jpg" alt="ftpic2">
  <h3 class="column" id="tag-right">Get the latest collection !
    <br>
      <p id="cntnt">" Fashion is what you buy,
      <br> style is what you do with it "
      <br><br>
      #Be trendy with DressOwn.hub
    </p>
  </h3>
</div>
<hr>
<div class="row">
  <h3 class="column" id="tag-left">Be fashionable with new trends !
    <br>
      <p id="cntnt">" In a world full of trends,
      <br> I want to remain a classic "
      <br><br>
      #Be trendy with DressOwn.hub
    </p>
  </h3>
  <img class="column" id="tagpic-right" src="../../assets/images/adpics/ft3.jpg" alt="ftpic3">
</div>
<hr>
<div class="row">
  <img class="column" id="tagpic-left" src="../../assets/images/adpics/ft4.jpg" alt="ftpic4">
  <h3 class="column" id="tag-right">Design your own style !
    <br>
      <p id="cntnt">" Fashion is about something that
      <br> comes from within you "
      <br><br>
      #Be fashionable with DressOwn.hub
    </p>
  </h3>
</div>
<br><br>

</div>
