<div class="page">
    <label for="help" id="contents">How to create your own design with DressOwn.hub</label>
    <div class="section">
        <div class="steps">
            <p>Step 1: Signin to your account as a Customer<br>
                Step 2: Click " Designs " to get the exclusive designs from DressOwn.hub<br>
                Step 3: Select " Create " button on left to get designarea and prototypes<br>
                Step 4: Click buttons on right to get the prototypes of different design elements<br> 
                Step 5: Select and drag the prototype image into the designarea<br>
                Step 6: Set height and width for each of the prototypes<br>
                Step 7: By dragging, fix the position of each prototype and make your own design<br>
                Step 8: Or you can also upload your design as an image file<br>
                Step 9: Set measurements for the uploaded design<br>
                Step 10: Select designers and cost for stitching the outfit<br>
                Step 11: By clicking Set button, your design details will be submitted to our designers<br>
                Step 12: Our designers will send you a prototype of your design<br>
                Step 13: You can now make updations on your design<br>
                Step 14: We will inform you once your outfit is stitched<br>
                Step 15: Then, make your payment for stitching online<br>
                Step 16: Finally, we will send your favorite design to the given address<br>
            </p>
        </div>
    </div>
    <br>
    <br><br><br>
</div>