<nav class="navbar navbar-expand-lg navbar-light nav-decor">
    <div class="container-fluid">
    <img src="/assets/images/logopics/logo.png" alt="logo" width="60" height="60">
    <span class="navbar-brand mb-0 h1" id="brand-btn">DressOwn.hub</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="signup">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="signup">Designs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="signup">Stitch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="contactus">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="help">Help</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="nav-btn" aria-current="page" routerLink="signup">SignUp/SignIn</a>
        </li>
    </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">
    <div class="container">
        <div class="row">
          <div class="col col-sm-12">
            <br>
            <h1 id="footer-head">Follow Us</h1>
            <div class="btn-group">
              <a class="btn btn-twitter btn-lg" routerLink="contactus"><i class="icon-twitter icon-large"></i> Twitter</a>
              <a class="btn btn-facebook btn-lg" routerLink="contactus"><i class="icon-facebook icon-large"></i> Facebook</a>
              <a class="btn btn-google-plus btn-lg" routerLink="contactus"><i class="icon-google-plus icon-large"></i> Google+</a>
            </div>
          </div>
        </div>
        <br>
        <p id="copyright">© 2021 - 2023 DressOwn.hub -
          All Rights Reserved</p>
        <br><br>
    </div>
</div>