<div class="description">
<h3 id="title">DressOwn.hub  - Your Perfect Styling Partner</h3>
<p class="para">DressOwn.hub is the place where you can find the best of designer clothes as well as designers for women.
    If you want to experience the best of women’s wear online, DressOwn.hub is just the right place.
    We at DressOwn.hub have the best variety of the latest designs and styles of women’s clothing
    amongst all other women’s clothing stores.
</p>
<p class="para">DressOwn.hub has a wide array of designer apparels online.
    You can purchase designer women’s clothes from our online store that can be delivered to you right at your doorstep.
    We have some great Indian designer clothes collections from our designer experts.
    You can also share and publish your own designs with us and our designer experts would surely stitch them for you, if you wanted to do so.
</p>
<h5 id="tagline">#Be unique, #Be trendy, #Be fashionable with DressOwn.hub</h5>
<br><hr><br><br>

<div class="row">
    <div class="column-left">
        <h4 id="query-head">Our Office</h4>
        <p id="query-para">
            DressOwn.hub Office<br>
            City Centre Building<br>
            Kochi, Kerala <br>
            Near Marine Drive,Kochi<br>
            PIN Code : 654-777
        </p>
        <br><br>
    </div>
    <div class="column-right1">
    <h4 id="query-head">Follow Us</h4>
    <p id="query-para">
        Facebook : dressown.hub@fb2021<br>
        Instagram : insta@dressown_hub <br>
        Twitter : dressown.hub_blog
    </p>
    <br><br>
    </div>
</div>

<div class="row">
    <div class="column-left">
        <h4 id="query-head">For Queries</h4>
        <p id="query-para">
            Phone : 1800-266-3333 <br>
            Email : support@dressown_hub.com <br>
            Call us : Monday to Saturday, 10AM - 7PM
        </p>
        <br><br>
    </div>
    <div class="column-right2">
        <h4 id="query-head">Suggestions</h4>
        <p id="query-para">
            Wattsapp : 979-998-7777 <br>
            Email : suggest@dressown_hub.com <br>
        </p>
        <br><br>
    </div>
</div>

</div>