<div class="page">
    <form class="text-center card form bg-light p-5 col-md-6" (ngSubmit)="login()">
    
        <p class="h4 mb-4 bg-info card-header">Sign In</p>
    
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" name="email" [(ngModel)]="email" placeholder="E-mail" required>
    
        <label for="designation" class="text-muted">Designation</label>
        <select id="defaultRegisterFormEmail" class="form-control mb-4" name="designation" [(ngModel)]="designation">
          <option value="Designer" selected>Designer</option>
          <option value="Customer">Customer</option>
        </select>

        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>

        <a routerLink="/signin">Forgot password?</a>
        <br>
    
        <!-- Sign up button -->
        <button id="signup-btn" type="submit">Sign In</button>
        <br>
    
        <!-- Register -->
        <p>Don't have an account?
          <a routerLink="/signup">SignUp</a>
        </p>
    
        <!-- Social register -->
        <p>or sign in with:</p>
    
        <div class="row icons">
        <a type="button" class="light-blue-text mx-2">
          <img src="../../assets/images/logopics/twitter.png" alt="twitter">
        </a>
        <a type="button" class="light-blue-text mx-2">
          <img src="../../assets/images/logopics/facebook.png" alt="facebook">
        </a>
        <a type="button" class="light-blue-text mx-2">
          <img src="../../assets/images/logopics/insta.png" alt="instagram">
        </a>
        <a type="button" class="light-blue-text mx-2">
          <img src="../../assets/images/logopics/linkedin.png" alt="linkedin">
        </a>
        </div>
    
        <hr>
        <p>Login to explore more !!!</p>
    
      </form>
    </div>